<footer>
    <section class="footer-nav">
      <ul>
        <li><a href="">nosotros</a> </li>
        <li><a href="">productos</a> </li>
        <li><a href="">contacto</a> </li>
        <li><a href="">compras</a> </li>
      </ul>
    </section>
  
    <section class="footer-redes">
      <div class="footer-redes-iconos">
        <ul>
          <li> <i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-twitter"></i></li>
        </ul>
      </div>
      <div class="footer-redes-email">dejanos tu e-mail <i class="far fa-envelope"></i>
      </div>
    </section>
  
    <section class="footer-location">
      <h4>ubicanos</h4>
      <div class="footer-location-mapa">
        <p>acá va un enlace con la ubicacion, con imagen</p>
      </div>
    </section>
    <div class="footer-fixed">
      <i class="fab fa-whatsapp"></i>
    </div>

</footer>