 
 <footer class="footer-vinilos">
    <div class="footer-left">
     <img  class="imagen-header" src="/static/imagen/imagen-header-Logo.png">
       
     <p class="footer-links">
        
        <a href="/" class="link-1">Nosotros</a> 
        <a href="/products">Productos</a> 
        <a href="/contact">Contacto</a> 
        <a href="">Compras</a>
      </p>
     
     </div>
  
   
      <div class="footer-center">
        <div>
          <a class="ubicacion"href="https://www.google.com/maps/place/Paran%C3%A1+2756,+B1636DYB+Olivos,
          +Provincia+de+Buenos+Aires/@-34.5038709,-58.5128058,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0fd3c91d6e3:0xe50d07a430">
          
          <i class="fa fa-map-marker-alt"></i></a>
          <p><span>Buenos Aires , Argentina</span></p>
        </div>

        <div>
        <i class="fa fa-phone"></i>
        <p>+54.11.8524863</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="/contact">rocksphere@gmail.com</a></p>
      </div>

    </div>
    <div class="footer-right">

      <p class="footer-company-about">
        <span>Acerca de nosotros</span>
        Rocksphere te brinda la 
        posibilidad de disfrutar de la máxima calidad de sonido, con ediciones limitadas y
        donde encontrarás verdaderos tesoros musicales.
      </p>
    </hr>
    <p class="footer-company-about">
    <span>Seguinos!</span>
      <div class="footer-icons">
        <a class ="facebook" href="https://www.facebook.com/digitalhouseschool"><i class="fab fa-facebook"></i></a>          
        <a class ="twitter" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a class="instagram" href="https://www.instagram.com/_digitalhouse/embed"><i class="fab fa-instagram"></i></a>
     
      </div>
    </p>
    </div>
    <div><p class="footer-rocksphere">Todos los derechos reservados © Copyright 2022 Rocksphere Argentina.</p>
    </div>
    

    
  
   
    <div class="footer-fixed">
      <a class="whatsapp" href="https://api.whatsapp.com/send?phone=118524863"><i class="fab fa-whatsapp"></i></a>
    </div>

</footer>