<header>
  <!-- <nav>
    

<ul class ="nav-links">
      <li><a href="/" class="link-1">Nosotros</a></li>
      <li><a href="/products">Productos</a> </li>
      <li><a href="/contact">Contacto</a> </li> 
      <li><a href="">Compras</a></li>
      <li><a  class ="user" href="/users/login"><i class="fas fa-user"></i></a></li>
     
    </ul>
  
 
  
  </nav>
-->  


    <nav>

      <div class="logo">
        <img class="imagen-header" src="/static/imagen/imagen-header-Logo.png" alt="Rocksphere">
    </div>
    <div class="hamburguer">
      <div class ="bars1"></div>
      <div class ="bars2"></div>
      <div class ="bars3"></div>
  
    </div>

      <div class="nav-links">
        <ul>
          <li><a href="/" class="link-1">Nosotros</a></li>
          <li><a href="/products">Productos</a> </li>
          <li><a href="/contact">Contacto</a></li>
          <li><a href="/products/productCart">Compras</a></li>
        
        
          <% if (locals.isLogged) { %>
      <div> <li>
              <a href="/users/profile"><img src="/static/imagen/users/<%=locals.userLogged.imagen%>" 
                alt="imagen usuario" width="50%" style =border-radius:100% />
             <!--   Hola!<%=locals.userLogged.name %>-->
              </a>
              </li>
              
              <li>
              <a href="/users/logout">
                Logout
              </a>
            </li>
      </div>

            <% } else { %>
              <li>
                <a href="/users/register">
                  Registrate
                </a>
              </li>
              <li>
                <a class ="user" href="/users/login"><i class="fas fa-user"></i></a></li>
                
          
              <% } %>

             
       
      </div>

    </nav>
 
 
</header>