<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Rocksphera</title>
</head>
<body>
  <%-include("./partials/header.ejs") %>
<body>
    <main>
        <form class="formulario"action="/contact" method="POST">
        <h3 class="login-h3">Dejanos tu comentario</h3>
        <div class="cajacampos">
          <div>
            <input
             type="text"
             name="name"
             placeholder="Nombre y Apellido"
             class="campo"
             required/>
            </div>
  
            <div>
            <input
             type="e-mail"
             name="e-mail"
             placeholder="E-mail"
             class="campo"
             required/>   
            </div>
            <div>
              <textarea
              name ="text"
              placeholder="Escribe aquí tu comentario"
              >Escribe aquí tu comentario:
              </textarea>  
            </div>
            
            
  
            <div>
            <button type="submit" class="button">Enviar</button> 
            </div>
           
            <hr/>
            <p>Gracias por tu comentario!</p>
            
            
            </div>
       
             
             
        </form> 
    </main>
  </body>
        
   <%-include("./partials/footer.ejs") %>
            
          
</html>
        
        