<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/static/css/styles.css" />
  <title>Rocksphera</title>
</head>

<body>
  <header>
    <div>
<<<<<<< HEAD:views/index.html
 <img  class="imagen-header" src="static/imagen/imagen-header-Logo.png" alt="">
=======
      <a href="/"><img  class="imagen-header" src="static/imagen/imagen-header-Logo.jpeg" alt=""></a>
>>>>>>> 49ca649bdd4d9d04f3b0f8ddefa6c9c2c2c434ea:views/index.ejs

<nav class="nav-header">
  <div class="nav-header-register">
  <ul class="ul-registro-head">
    <li><a href="/register"><p>Registrate</p></a></li>
    <li><a href="/login"><p>Login</p></a></li>
    <li><a href="/contact"><p>Dejanos tu comentario</p></a></li>
  </ul>
</div>

<div>
    <ul>
    <li><a href="/productCart"><p>Comprar</p></a></li>
  </ul>
</div>

</nav>
 
</div>

  </header>

  carrusel aca

  <h3 class="index-h3">Nuestros Recomendados</h3>

  <section class="index-section">
    <div class="index-card">
      <div class="index-card-image">
        <a href="/productDetail/:productId"><img src="static/imagen/engl-the-rolling-stones.jpg" alt="The Rolling Stones" /></a>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
    </div>

    <div class="index-card">
      <div class="index-card-image">


        <% vinilos.forEach( vinilo =>{ %>

         <a href="/views/productDetail.ejs/<%=vinilo.id%>"><%= vinilo.img %></a>
<%})%>


    
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
    </div>

    <div class="index-card">
      <div class="index-card-image">
        <a href="/productDetail/:productId">
          <img src="static/imagen/the-wall-pink-floyd.jpg" alt="Pink Floyd" /></a>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
    </div>

    <div class="index-card">
      <div class="index-card-image">
        <a href="/productDetail/:productId">
          <img src="static/imagen/races-queen.jpg" alt="Queen" /></a>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
    </div>
    <div class="index-card">
      <div class="index-card-image">
        <a href="/productDetail/:productId">
          <img src="static/imagen/born-bruce-springsteen.jpg" alt="Bruce Springsteen" /></a>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
      </div>
      <div class="index-card">
        <div class="index-card-image">
          <a href="/productDetail/:productId">
            <img src="static/imagen/fra-doors.jpeg" alt="The Doors" /></a>
        </div>
        <div class="index-card-text">
          <p>aca va una descricion</p>
        </div>
      </div>
      <div class="index-card">
        <div class="index-card-image">
          <a href="/productDetail/:productId">
            <img src="static/imagen/the-razors-ac-dc.jpg" alt="AC-DC" /></a>
        </div>
        <div class="index-card-text">
          <p>aca va una descricion</p>
        </div>
      </div>
      <div class="index-card">
        <div class="index-card-image">
          <a href="/productDetail/:productId">
            <img src="static/imagen/for-sale-david-bowie.jpg" alt="" /></a>
        </div>
        <div class="index-card-text">
          <p>aca va una descricion</p>
        </div>
      </div>
      </section>
      
      <section>
        <h3 class="index-h3">Una oportunidad increible</h3>
      
        <div class="index-oportunidad">
          <div class="index-card">
            <div class="index-card-image">
              <a href="/productDetail/:productId">
                <img src="static/imagen/for-sale-roxy.jpeg" alt="" /></a>
            </div>
            <div class="index-card-text">
              <p>aca va una descricion</p>
            </div>
          </div>
          <div class="index-card">
            <div class="index-card-image">
              <a href="/productDetail/:productId">
                <img src="static/imagen/for-sale-fleetwood-mac.jpg" alt="" /></a>
            </div>
            <div class="index-card-text">
              <p>aca va una descricion</p>
            </div>
          </div>
          <div class="index-card">
            <div class="index-card-image">
              <a href="/productDetail/:productId">
                <img src="static/imagen/for-sale-beatles.jpg" alt="" /></a>
            </div>
            <div class="index-card-text">
              <p>aca va una descricion</p>
            </div>
          </div>
        </div>
      </section>
      
      <footer>
        <section class="footer-nav">
          <ul>
            <li><a href="">nosotros</a> </li>
            <li><a href="">productos</a> </li>
            <li><a href="">contacto</a> </li>
            <li><a href="">compras</a> </li>
          </ul>
        </section>
      
        <section class="footer-redes">
          <div class="footer-redes-iconos">
            <ul>
              <li> <i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-instagram"></i></li>
              <li><i class="fab fa-twitter"></i></li>
            </ul>
          </div>
          <div class="footer-redes-email">dejanos tu e-mail <i class="far fa-envelope"></i>
          </div>
        </section>
  
        <section class="footer-location">
          <h4>ubicanos</h4>
          <div class="footer-location-mapa">
            <p>acá va un enlace con la ubicacion, con imagen</p>
          </div>
        </section>
        <div class="footer-fixed">
          <i class="fab fa-whatsapp"></i>
        </div>
    
    </footer>
</body>


</html>
