<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Rocksphera</title>

    <!--fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <!--iconos https://fontawesome.com/v5/search?o=r&m=free-->
    <link
      href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/css/styles.css">  

</head>
<body>
    <header>

        <img src="static/imagen/Rocksphere.jpg" alt="">

        <nav class="header-nav">
            <ul class="header-ul-formu">
                <li><a href="/static/form.html">Formulario</a></li>
                <li><a href="/static/login.html">Registrate</a></li>
                
                <li></li>
            </ul>
            <ul class="header-ul-compra">
                <li><a href=""></a></li>
                <li></li>
            </ul>
        </nav>



    </header>

    carrusel aca

<section class="index-section">

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"><img src="static/imagen/darksideportada.jpg" alt="producto1"></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/darksideportada.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/darksideportada.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
           
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/darksideportada.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

</section>

    <footer>

        aca va el footer!!

    </footer>
    
</body>
</html>