<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Rocksphera</title>
</head>
<body>
    <header>

        <img src="static/imagen/Rocksphere.jpg" alt="">

        <nav class="header-nav">
            <ul class="header-ul-formu">
                <li><a href="/static/form.html">Formulario</a></li>
                <li><a href="/static/login.html">Registrate</a></li>
                
                <li></li>
            </ul>
            <ul class="header-ul-compra">
                <li><a href=""></a></li>
                <li></li>
            </ul>
        </nav>



    </header>

    carrusel aca

<section class="index-section">

    <div class="index-card">
        <div class="index-card-image">
            <img src="static/imagen/darksideportada.jpg" alt="">
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <img src="static/imagen/darksideportada.jpg" alt="">
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <img src="static/imagen/darksideportada.jpg" alt="">
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
           
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <img src="static/imagen/darksideportada.jpg" alt="">
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

</section>

    <footer>

        aca va el footer!!

    </footer>
    
</body>
</html>