<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"/>
 
   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
   lin

    <link rel="stylesheet" href="/static/css/styles.css">  
    <title>Rocksphera</title>

</head>
<body>
    <header>

        <img src="static/imagen/Rocksphere.jpg" alt="">

        <nav class="header-nav">
            <ul class="header-ul-formu">
                <li><a href="/form">Formulario</a></li>
                <li><a href="/register">Registrate</a></li>
                
                <li></li>
            </ul>
            <ul class="header-ul-compra">
                <li><a href=""></a></li>
                <li></li>
            </ul>
        </nav>



    </header>

    carrusel aca

    <h3 class="index-h3">Nuestros Recomendados</h3>

<section class="index-section">

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"><img src="static/imagen/engl-the-rolling-stones.jpg" alt="producto1"></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/eric-clapton-for-sale.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/the-wall-pink-floyd.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
           
        </div>
    </div>

    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/races-queen.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>


    </div>
    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/born-bruce-springsteen.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>
    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/fra-doors.jpeg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>
    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/the-razors-ac-dc.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>
    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/for-sale-david-bowie.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

</section>



<section>
<h3 class="index-h3">Una oportunidad increible</h3>

<div class="index-oportunidad">
    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/for-sale-roxy.jpeg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>
    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/for-sale-fleetwood-mac.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>
    <div class="index-card">
        <div class="index-card-image">
            <a href="/productDetail"> <img src="static/imagen/for-sale-beatles.jpg" alt=""></a>
        </div>
        <div class="index-card-text">
            <p> aca va una descricion</p>
        </div>
    </div>

</div>

</section>

    <footer>

        <i class="fab fa-whatsapp"></i>

    </footer>
    
</body>
</html>