<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylesForm.css" >
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Rocksphera</title>
</head>
<body>

  
 <%-include("./partials/header.ejs") %>


<body>
    <main>
        <form class="formulario"  action="/users/login" method="POST"enctype="multipart/form-data">
        <h3 class="login-h3">Iniciar Sesion</h3>
        <div class="cajacampos">
             <div>
             <input
              type="text"
              name="NombbreyApellido"
              placeholder="*Nombre y Apellido"
              class="campo"
             >
             </div>

             <div>
             <input
              type="e-mail"
              name="email"
              placeholder="*E-mail"
              class="campo"
              >   
             </div>
             
             <div>
             <input 
              type="password"
              name="contrasena"
              placeholder="*Escribe tu contraseña"
              class="campo"
           >
             </div>

             <div>
             <button type="submit" class="button">Iniciar Sesion</button> 
             </div>
             <div>
             <button type="reset" class="button">Borrar</button>
             </div>
             <hr/>
             <p>Al registrarte aceptas nuestros términos y condiciones de uso y privacidad.</p>
             
             </div>
        </form>
    </main>
  
    <%-include("./partials/footer.ejs") %>
  
  </body>
  
  
  </html>
  
</body>
</html>
