<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/stylesForm.css" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/styles.css" >
  <title>Rocksphera</title>
</head>
<body>
	
    <form class = "formulario" action="/products" method="POST" enctype="multipart/form-data">
        <h3 class="create-h3">Crear Producto</h3>
        <div class="cajacampos">
        <div>
            <label for="name" class="register-h4">Titulo</label>
            <input 
            type="text"
             name="title"
             class="campo"
             required/>
        </div>

        <div>
            <label for="name" class="register-h4">Compañia</label>
            <input 
             type="text"
             name="company"
             class="campo"
             required/>
        </div>

        <div>
            <label for="name" class="register-h4">Año</label>
            <input 
             type="number"
             name="year"
             class="campo"
             required/>
        </div>
        <div>
            <label for="name" class="register-h4">Precio</label>
            <input 
             type="number"
             name="price"
             class="campo"
             required/>
        </div>
            <div>
            <label for="name" class="register-h4">Género</label>
        </div>
        <div>
            <select name="genre" style="width: 100%">
                <option value="#" >Seleccione el género...</option>
                <% for (let i = 0; i < genres.length; i++) { %>
                <option value="<%=genres[i].id%>">
                    <%=genres[i].name%>
                </option>
                <% } %>
            </select> 
             required/>
        </div>
        <div>
            <label for="name" class="register-h4">Artista</label>
            <input 
             type="text"
             name="artist"
             class="campo"
             required/>
                     


            <label for="imagen" class="register-h4">Imagen</label>
            <input 
             type="file"
             name="imagen"
             placeholder="Imagen"
             class="campo"
             required/>
        </div>
       
       
        <button class="button">Guardar</button>
        </div>
    </form>

	
	<!-- /todos los productos -->

	
</body>	
</html>