<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/css/stylesForm.css" />
  <title>Rocksphera</title>
</head>
<%-include("./partials/header.ejs") %>
<body>

 
<div class ="listado">
 
    <h3 class="listado-title">Listado de albums</h3>
    <div class="cajalistados">
    <ul  >
      <% for ( let i = 0; i < album.length; i++ ) { %>
        <li class="listado-albums">
          <a class="title" href="/products/productDetail/<%=album[i].id%>"><%= album[i].title %></a> 
        </li>

        
        <% } %>
    </ul>
    <button type="submit" class="button"><a href="/">Volver al inicio</a>
         
    </button>
   <!---- <form action="/products/search_results" method="GET">
      <input type="search"  name="search">
      <button type="submit">Buscar</button>
    </form>---->
  </div>
  
</div>
 
    <%-include("./partials/footer.ejs") %>

</body>

</html>