<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> Detalle de producto</title>
</head>
<body>
  
  <%-include("./partials/header.ejs") %>

    
    <div class="index-card contenedor-img-descripcion">
        <div class="index-card-image">
        <img src="static/imagen/engl-the-rolling-stones.jpg" alt="" >
        </div>


        <div class="index-card-text">
        <article class="tituloPrecio">


          <% vinilos.forEach ( vinilo =>{ %>

            <h4 class="tituloDisco"><%= vinilo.titulo%></h4>
<%})%>
            
            <h3 class="precioDisco">$15000</h3>  <i class="fas fa-shopping-cart"></i>
        </article>


        <article class="descripcion">
            <ul>
               <li>Nombre:</li> 
               <li>Género:</li>
               <li>Sello:</li>
               <li>Año:</li>
            </ul>
        </article>
        </div>
        


        <%-include("./partials/footer.ejs") %>
    
    
</body>
</html>