<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Rocksphera</title>
</head>
<body>

  
  <%-include("./partials/header.ejs") %>


<body>
    <main>
        <form action="/" method="GET">
        <h3 class="register-h3">Crear Cuenta</h3>
        <div class="cajacampos">
             <div>
             <input
              type="text"
              name="name"
              placeholder="*Nombre y Apellido"
              class="campo"
              required/>
             </div>

             <div>
             <input
              type="e-mail"
              name="e-mail"
              placeholder="*E-mail"
              class="campo"
              required/>   
             </div>
             
             <div>
             <input 
              type="password"
              name="password"
              placeholder="*Elegí tu contraseña"
              class="campo"
              required/>
             </div>

             <div>
             <input
              type="password"
              name="password"
              placeholder="*Confirmar Contraseña"
              class="campo"
              required/>    
             </div>
            
             
             <div>
             <button type="submit" class="button">Crear Cuenta</button> 
             </div>
             <div>
             <button type="reset" class="button">Borrar</button>
             </div>
             <div class="register-pie">Los campos con (*) son requeridos.</div>
             <div class="register-pie">Los datos proporcionados son confidenciales y para nuestro uso exclusivo.</div>
             </div>
        </form>
    </main>

    <%-include("./partials/footer.ejs") %>
    
    </body>
    
    
    </html>

