* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body { 
    background-color: rgb(1, 1, 33);

}

/*HEADER*/ 



.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ul-registro-head {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-header li p {
  color: white;
}

.nav-header li p:hover {
    transition: .3;
    color: burlywood;
}

.cart-nav-header { 
    color: aliceblue;
height: 20px;
width: 20px;
}

.imagen-header {
    width: 100%;
}




/**FIN HEADER*/

/* CARDS INDEX*/

.index-section {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.index-card {

    width: 250px;
    height: 325px;
    background-color: rgb(1, 1, 70);
    border: 1px solid rgb(123, 232, 172);
    margin-bottom: 15px;

}

.index-card:hover {

    transition: .6s;
    width: 300px;
    height: 360px;
}

.index-card img {
    width: 100%;
  
}

.index-card-text {

    font-size: 18px;
    color: aliceblue;

}

.index-h3 {
    color: antiquewhite;
}

.index-oportunidad {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
   width: 100%;
}

/* FIN CARDS INDEX*/

/*FOOTER */
footer{
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 120px;
    display: flex;
    color: white;
    font-size: 25px;
    width: 100%;
    justify-content: space-between;
    height: 250px;
}

.footer-fixed{
    position: fixed;
    color: white;
    right: 120px;
    bottom: 50px;
    font-size: 45px;
    color: greenyellow;
    
}

.footer-fixed:hover {
    transition: .6s;
    color: lightblue;
}


.footer-nav ul li{
    list-style-type: none;
    margin-top: 35px;
}
.footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-redes-iconos ul li{
    display: inline;
    margin-right: 80px;
    margin-left: 80px;
}

.footer-location-mapa{
    background-color: blue;
    color: white;
    height: 70%;
    width: 70%;
}


/*FIN FOOTER */

/*----product detail----*/
.tituloPrecio{
    display: flex;
   flex-wrap: nowrap;
   padding-inline-start: 10px;
}
.tituloDisco{
    width: 50%;

}
.precioDisco{
    width: 40%;
    text-align: center;
}
.descripcion ul{
list-style: none;
padding-inline-start: 20px;
}

.contenedor-img-descripcion{
    height: 450px;
}
.fa-shopping-cart{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 15px;
}

.cajacampos {
    display: flex;
    flex-direction: column;
    position: relative;
}

.campo {
    width: 50%;
    height: 30px; 
    padding: 10px; 
    border-radius: 1%; 
    margin: 5px;
    flex-wrap: wrap;
    background-color: antiquewhite;
     
}

.button {
    background-color: #666; 
    width: 50%;
    height: 30px;
    color: white;
    padding: 10px;
    margin: 5px;
    flex-direction: column;
    
}

.button:hover {
    background-color: whitesmoke;
    color: black;
}

.register-h3 {
    color: antiquewhite;
}

.register-pie{
    color: antiquewhite;
    font-size: 10px;
    display: flex;
}






