* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body { 
    background-color: rgb(1, 1, 33);
}


/* CARDS INDEX*/

.index-section {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.index-card {

    width: 250px;
    height: 325px;
    background-color: rgb(1, 1, 70);
    border: 1px solid rgb(123, 232, 172);
    margin-bottom: 15px;

}

.index-card img {
    width: 100%;
  
}

.index-card-text {

    font-size: 18px;
    color: aliceblue;

}

.index-h3 {
    color: antiquewhite;
}

.index-oportunidad {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
   width: 100%;
}

/* FIN CARDS INDEX*/

/*FOOTER */

footer i {

    width: 500px;
}

/*FIN FOOTER */

/*----product detail----*/
.tituloPrecio{
    display: flex;
   flex-wrap: nowrap;
   padding-inline-start: 10px;
}
.tituloDisco{
    width: 50%;

}
.precioDisco{
    width: 40%;
    text-align: center;
}
.descripcion ul{
list-style: none;
padding-inline-start: 20px;
}

.contenedor-img-descripcion{
    height: 450px;
}
.fa-shopping-cart{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 15px;
}

.campo {
    width: 60%;
    height: 30px; 
    padding: 5px; 
    border-radius: 1%; 
     
}

.button {
    background-color: #666; 
    width: 60%;
    height: 30px;
    color: white;
    padding: 10px;
    margin: 5px;
}

.button:hover {
    background-color: whitesmoke;
    color: black;
}