* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body { 
    background-color:black;
}

/*HEADER..................................................*/ 
nav{
    background: #666;
    width:100%;
    height:120px;
    box-sizing: border-box;
    display:flex;
}
.imagen-header {
    width:30%;
    margin-top: 5px;
    margin-left: 20px;
}
.nav-links{
    width:80%;
    display:flex;
    margin-right: 10px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.nav-links li a{
    color:white;
    font-size: 18px;
    text-decoration: none;
    padding:20px 10px;
    font-weight:400;
}
.nav-links li a user{
    cursor: pointer;
	background-color:  #33383b;
	border-radius: 5px;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	margin-right: 3px;
	margin-bottom: 5px;
}
.nav-links li i {
    color:white;
    font-size: 20px;
}
.nav-links li a user:hover{
    color:#00aced;
}
/*style para hamburguer*/
.hamburguer div{
    width:30px;
    height: 3px;
    background-color:white;
    margin:5px;
    transition: all 0.35s ease;
}	
.hamburguer{
    display:none;
}
/*FIN HEADER NUEVO*......................................./


/** CARRUSEL*....................................................*/
._imagen-carousel {
    background-size: contain;
}
/** FIN CARRUSEL *...............................................*/

/* CARDS INDEX...................................................*/

.index-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.index-card {
    width: 200px;
    height: 320px;
    background-color: rgb(180, 179, 168);
    border: 1px solid rgb(72, 73, 72);
    margin-bottom: 15px;
    transition: all 400ms ease;
    position: relative;
}
.index-card:hover {
    transform: translateY(-2%);
}
.index-card img {
    width: 100%;
    height: 200px;
}
.index-card-text {
    font-size: 18px;
    color: aliceblue;
}
.index-h3 {
    color:white;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.index-oportunidad {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
}
.parrafo-card-nombre {
    font-size: 14px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.parrafo-card-genero { 
    font-size: 12px;
    margin-left: 5px;
    color: grey;
}
.parrafo-card-precio {
    font-size: 16px;
    margin-left: 5px;
    color: #700e3e;
}
.button_card {
    position: absolute;
    left: 60%;
    top: 90%;
    border: none;
    border-radius: 50%;
    background-color:rgb(183, 130, 232);
    color: rgb(244, 242, 242);
    transition: all 100ms ease;
}
.button_card:hover {
    background-color: tomato;
}
/* FIN CARDS INDEX..............................................................*/
/* DETALLE ALBUMS..............................................................*/
   .detail-container{
    padding:10px 10px;
    width: 100%;
    background-image: url("/static/imagen/tarjeta.jpg");
    background-size: 100%;
   
   }

   .detail-container .register-h3{
    margin-top:25px;
   
   }
   .cajadetail{
   width:40%;
   padding:10px;
   margin:auto;
   margin-top: 35px;
   margin-bottom: 100px;
   background-color:white;
   border-radius: 3px;
   display:flex;
   justify-content:space-around;
   gap:10px;
   }
   .card-image{
    width:60%;
    margin-top: 35px;
    margin-left: 10px;
   }
  
   .cardimg{
    width:90%;
    height: 230px;
    border:solid 1px black;
   }
   
   .caja-text{
    width:60%;
    margin-top: 30px;

    
   }
   .tituloDisco
   {
    font-size:18px;
    font-weight:400 ;
   
    margin:10px;
    margin-bottom: 5px;
   }
   .caja-text .descripcion{
    margin-left:-15px;
   
    }
    .caja-text .descripcion li{
    list-style: none;    
       
    }

    .caja-text hr{
        width: 90%;
    }
   .caja-comprar{
    width:100%;
    }
    .caja-comprar h3{
        font-size:18px;
        font-weight: 400;
        margin-left:20px;
        margin-top: -10px;
    }
    .cajadetail button{
        border:none;
        width:60%;
        margin-left:50px;
        color:white;
        font-size: 14px;
        background-color:#656769;
        margin-top: 5px;
        margin-bottom: 5px;
        padding:10px;
        border-radius: 5px;
        transition:background-color 450ms;
        cursor:pointer;
    }
    .cajadetail button a {
        color:white;
        text-decoration:none;
    }
    .button:hover{
       background-color:#700e3e;
    }
/*FIN DETALLE ALBUMS.....................................................................*/   
/*LISTADO DE ALBUMS.......................................................................*/
.listado{
    padding:20px 10px;
    /*border:1px solid red;*/
    width: 100%;
    background-image: url("/static/imagen/fondoformulario.jpg");
    background-size:contain;
    display:flex;
    flex-direction: column;
}


.listado-title{
    width: 60%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    color:white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top:10px;
    /*border:solid 1px blue;*/
       
}
.listado-title{
    width: 30%;
    margin:auto;
    margin-top: 10px;
    text-align: center;
    color:white;
    font-size: 30px;
}
.cajalistados{
    width:30%;
    padding:15px;
    margin:auto;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
   
}
.cajalistados li{
    width: 100%;
    margin-left:40px;
    color:white;
    list-style: none;
    font-size:20px;
}
.title{
    text-decoration: none;
    color:white;
}
.title:hover{
    color :#6d4a5b;


}
/*FIN LISTADO DE ALBUMS........................................................*/

/*FORMULARIOS..................................................................*/
.formulario{
    padding:20px 10px;
    width:100%;
    background-image: url("/static/imagen/fondoformulario.jpg");
    background-size:contain;
    display:flex;
    flex-direction: column;
}

.login-h3,.register-h3{
    width: 30%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:white;
    font-size: 30px;
}
.cajacampos{
    width:30%;
    padding:15px;
    margin:auto;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
   
}
.campo{
    font-size: 15px;
    width: 100%;
    flex-wrap: wrap;
    padding:10px 15px;
    border:none;
    color:black;
    margin-bottom: 15px;
    border:solid 1px #aaa;
}


.cajacampos textarea{
    min-height:100px;
    max-height: 300px;
    min-width: 100%;
    font-size: 15px;
    max-width: 100%;
    flex-wrap: wrap;
    padding:10px 15px;
    border:none;
    color:black;
    margin-bottom: 15px;
    border:solid 1px #aaa;
}
.cajacampos button{
    border:none;
    width:100%;
    color:white;
    font-size: 20px;
    background-color:#656769;
    margin-bottom: 15px;
    padding:10px 20px;
    border-radius: 5px;
    transition:background-color 450ms;
    cursor:pointer;
}
.button:hover{
   background-color:#700e3e;
}
hr{
    width: 100%;
}
.cajacampos p{
    color:white;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
}
.link{
    text-decoration: none;
    color:#700e3e;
    font-weight: 600;
}
.link:hover{
    color: rgb(224, 83, 170) ;
}
.register-h4 {
    margin:0;
    text-align: left;
    margin-bottom: 30px;
    color: white;
    font-size: 16px;;
}

.listaDespl {
    display: flex;
    align-items: right;
    justify-content: center;
    margin: 0;
    background-color: white;
}
.blanco{
    text-align: left;
    font-size: 16px;
  
}
.errores{
    font-weight: 400;
    font-style: italic;
}


/*FIN FORMULARIOS.........................................................*/

/*FOOTER .................................................................*/

footer{
    bottom: 0;
    width: 100%;
}
.footer-vinilos{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 40px 20px;
}

.footer-vinilos .footer-left,
.footer-vinilos .footer-center,
.footer-vinilos .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left .....................................................*/

.footer-vinilos .footer-left{
	width: 40%;
    /*border:solid 1px red;*/
}
.footer-vinilos .footer-left .imagen-header{
	width: 40%;
    margin:0;
 
}
.footer-vinilos h3{
	color:  #ffffff;
	margin: 0;
}
/* Footer links */

.footer-vinilos .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-vinilos .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}
/* Footer Center ............................................................*/

.footer-vinilos .footer-center{
	width: 35%;
}
.footer-vinilos .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align:middle;
}
.footer-vinilos .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-vinilos .footer-center i.fa-phone{
	font-size: 17px;
	line-height: 38px;
}
.footer-vinilos .footer-center i.fa-map-marker{
	font-size: 17px;
	line-height: 38px;
  
}
.footer-vinilos .footer-center i.fa-map-marker-alt:hover
{
  background-color:#700e3e;
}
.footer-vinilos .footer-center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}


.footer-vinilos .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-vinilos .footer-center p a{
	color: #700e3e;
	text-decoration: none;;
}
.footer-vinilos .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-vinilos .footer-links .link-1:before {
  content: none;
}

/* Footer Right .........................................................*/

.footer-vinilos .footer-right{
	width: 20%;
    padding-top:20px;
}
.footer-vinilos .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: 400;
	margin: 0;
}
.footer-vinilos .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
}
.footer-vinilos.footer-icons{
	margin-top: 25px;
}
.footer-vinilos .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 5px;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin-right: 3px;
	margin-bottom: 5px;
}
.footer-icons a.facebook:hover
{
  background-color:#095771
}
.footer-icons a.twitter:hover
{
  background-color:#00aced
}
.footer-icons a.instagram:hover
{
  background-color:#e46408
}
.footer-vinilos .footer-rocksphere{
	color: #ffff;
	font-size: 12px;
	font-weight: 400;
    text-align: center;
	margin-top:10px;
}
.footer-fixed a.whatsapp{
    position: fixed;
    color: white;
    right:40px;
    bottom: 40px;
    font-size:30px;
    color: greenyellow;
}
/*FIN FOOTER...................................................*/
/*MEDIA .......................................................*/
@media (max-width: 880px) {

	.footer-vinilos{
		font: bold 14px sans-serif;
	}

	.footer-vinilos .footer-left,
	.footer-vinilos .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
    .footer-company-about{
        text-align: center;
        padding:0 100px;
    }

	.footer-vinilos .footer-center i{
		margin-left: 0;
        text-align: center;
	}
    .footer-vinilos .footer-center{
        display:none;
    }
    .footer-vinilos .footer-links{
        color:  #ffffff;
        margin-top: 0px;
        padding: 0;
    }
 
}
/*FIN FOOTER..............................................................................*/

@media (max-width: 880px) {
  
    .hamburguer{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 10%;
        transform: translate(-5%,-50%);
        z-index:2;
        transition: all 0.7s ease;

    }
    .imagen-header {
        width:40%;
        margin-top: 2px;
        margin-left: 50px;
      
        
    }
     .nav-links{
        background-color:rgb(70, 66, 66);
        position: fixed;
        opacity: 1;
        height:100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
     }

     .nav-links.open{
        clip-path: circle(1000px al 90% -10%);
        -webkit-clip-path: circle(1000px al 90% -10%);
        pointer-events: all;

     }
     .nav-links li{
        opacity: 0;
     }
     .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
     }
     .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
     }
     .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.5s;
     }
     .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.6s;
        margin:0;

     }
     .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.7s;
     }
     .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.8s;
     }
      .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
     }
     li.fade{
        opacity: 1;
     }
}
@media (max-width: 880px){
    .formulario{
        background-image: none;
        background-color:black;
    }
    .login-h3,.register-h3{
        width: 60%;
        margin:auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        color:white;
        font-size: 20px;
    }
    .cajacampos{
        width:60%;
        padding:15px;
        margin:auto;
        margin-bottom: 10px;
        display:flex;
        flex-direction: column;
       
    }


    .listado{
        background-image: none;
        background-image: url("/static/imagen/fondoformulario.jpg");
    }
    .listado-title{
        width: 60%;
        margin:auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        color:white;
        font-size: 20px;
    }
    .cajalistados{
        width:60%;
        padding:15px;
        margin:auto;
        margin-bottom: 10px;
        display:flex;
        flex-direction: column;
       
    }
    
    }
/* DETALLE ALBUMS..............................................................*/
@media (max-width: 880px){
.detail-container{
    padding:10px 10px;
    width: 100%;
    background-image: url("/static/imagen/tarjeta.jpg");
    background-size: 100%;
   
   }

   .detail-container .register-h3{
    width: 60%;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color:white;
    font-size: 25px;
   
   }
   .cajadetail{
   width:60%;
   padding:10px;
   margin:auto;
   margin-top: 30px;
   margin-bottom: 40px;
   background-color:white;
   border-radius: 3px;
   display:flex;
   flex-direction: column;
   align-items: center;

   }
   .card-image{
    width:90%;
    margin-top: 35px;
    margin-left: 0px;
   }
  
   .cardimg{
    width:100%;
    height: 245px;
    border:solid 1px black;
   }
   
   .caja-text{
    width:100%;
    margin-top: 30px;
   }
   .tituloDisco
   {
    font-size:18px;
    font-weight:400 ;
    margin-left: 15px;
  
    margin-bottom: 5px;
   }
   .caja-text .descripcion{
    margin-left:-10px;
    list-style: none;
    }
    .caja-text hr{
        width: 90%;
    }
   .caja-comprar{
    width:90%;
    }
    .caja-comprar h3{
        font-size:18px;
        font-weight: 400;
        margin-left:25px;
        margin-top: -10px;
    }
    .cajadetail button{
        border:none;
        width:60%;
        margin-left:50px;
        color:white;
        font-size: 14px;
        background-color:#656769;
        margin-top: 5px;
        margin-bottom: 5px;
        padding:10px;
        border-radius: 5px;
        transition:background-color 450ms;
        cursor:pointer;
    }
    .button:hover{
       background-color:#700e3e;
    }
}
/*FIN DETALLE ALBUMS.....................................................................*/  



/*----product detail----
.tituloPrecio{
    display: flex;
   flex-wrap: nowrap;
   padding-inline-start: 10px;
}
.tituloDisco{
    width: 50%;

}
.precioDisco{
    width: 40%;
    text-align: center;
}
.descripcion ul{
list-style: none;
padding-inline-start: 20px;
}

.contenedor-img-descripcion{
    height: 450px;
}
.fa-shopping-cart{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 15px;
}
.shopper{
    max-width: 100%;
    margin: auto;
}
.shopper h1{
    padding:10px0px;
    color:white;
    text-align:center;
    margin-top:10px;
    font-size: 30px;
}

.cart{
    width: 100%;
    margin:auto;
    gap:20px;
}

.box{
    display:flex;
    width: 90%;
    height:200px;
    margin:auto;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #fff;
    padding :0px 10px;
}
.box img{
    width:100px;
    height:100px;
    margin-top:10px;
    margin-bottom: 10px;
}
.content{
    padding:10px;
    margin-top:10px;
    margin-bottom:20px;
    position: relative;
    text-align:left;
    width: 100%;
 }
.content h3{
    margin-bottom:15px;
}
.content h4{
    margin-bottom : 50px;
}

.btn-area{
    position: absolute;
    bottom:20px;
    right:20px;
    padding: 10px 10px;
    background-color: rgb(72, 148, 183) ;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}
.btn-area i{
    text-align: center;
}
.btn-area:hover{
    background-color: rgb(129, 153, 170);
    color: #fff;
}
.unit input{
    width:50px;
    padding:10px;
    text-align: center;
}
.btn-area i{
    margin-right: 5px;
}
.right-bar{
   width:90%;
   padding: 20px;
   background-color: #fff;
   margin:auto;
   margin-bottom: 30px;
   margin-top: 20px;
}
.right-bar hr{
    margin-bottom: 25px;
}
.right-bar p{
    display:flex;
    justify-content: space-between;
    margin-bottom:30px;
    font-size:16px;
}

.right-bar a {
    background-color: rgb(72, 148, 183) ;
    color: #fff;
    text-decoration: none;
    border-radius:5px;
    display: block;
    text-align:center;
    height:40px;
    margin-bottom: 10px;
    line-height:40px;
    font-weight: 600;
}
.right-bar i{
    margin-right: 5px;

}
.right-bar a:hover{
    background-color: rgb(129, 153, 170);
}
.seguir{
    text-align: center;

}
aca media para shopping.....................................................
@media(min-width:361px){
.content h3{
    margin-bottom: 15px;

}
.content h4{
    margin-bottom:20px;
}
.btn2{
    display:none;
}
.btn-area i{
    text-align: center;
}

.box{
   
    height:150px;
}
.box img{
    height:120px;
    width:120px;
}}
media768................................................................
@media(min-width:768px){
.cart{
    display:flex;

 }
.shop{
     flex:75%;
 }
 .btn2{
    display:block;
}
 .right-bar{
    flex:25%;
 }

}

*/


/*gif music
<div style="padding-top:56.200%;position:relative;"><iframe src="https://gifer.com/embed/1fTO" 
width="100%" height="100%" style='position:absolute;top:0;left:0;
' frameBorder="0" allowFullScreen></iframe></div>
<p><a href="https://gifer.com">via GIFER</a></p><iframe src="https://gifer.com/embed/1fTO"
 width=480 height=269.760 frameBorder="0" allowFullScreen></iframe><p><a href="https://gifer.com">via GIFER</a></p>



 <iframe src="https://gifer.com/embed/FiOG" width=480 height=270.000 frameBorder="0" allowFullScreen>
 </iframe><p><a href="https://gifer.com">via GIFER</a></p>
 
 
 
 <div style="padding-top:56.250%;position:relative;"><iframe src="https://gifer.com/embed/FiOG" 
 width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen>
 </iframe></div><p><a href="https://gifer.com">via GIFER</a></p>
 
 


<iframe src="https://gifer.com/embed/FiOG" width=480 height=270.000 frameBorder="0" allowFullScreen>
</iframe><p><a href="https://gifer.com">via GIFER</a></p>

 */