<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> Detalle de producto</title>
</head>
<body>
    <header>
        <div>
     <img  class="imagen-header" src="static/imagen/weird-the-doors.jpg" alt="">
    
    <nav class="nav-header">
      <div class="nav-header-register">
      <ul class="ul-registro-head">
        <li><a href="/register"><p>Registrate</p></a></li>
        <li><a href="/form"><p>Login</p></a></li>
        <li><a href=""><p>Dejanos tu comentario</p></a></li>
      </ul>
    </div>
    
    <div>
        <ul>
        <li><a href="/productCart"><p>Comprar</p></a></li>
      </ul>
    </div>
    
    </nav>
     
    </div>
    
      </header>


    
    <div class="index-card contenedor-img-descripcion">
        <div class="index-card-image">
        <img src="static/imagen/races-queen.jpg" alt="" >
        </div>
        <div class="index-card-text">
        <article class="tituloPrecio">
            <h4 class="tituloDisco">Titulo album</h4>
            <h3 class="precioDisco">$15000</h3>  <i class="fas fa-shopping-cart"></i>
        </article>
        <article class="descripcion">
            <ul>
               <li>Nombre:</li> 
               <li>Género:</li>
               <li>Sello:</li>
               <li>Año:</li>
            </ul>
        </article>
        </div>
        


        <footer>
            <section class="footer-nav">
              <ul>
                <li><a href="">nosotros</a> </li>
                <li><a href="">productos</a> </li>
                <li><a href="">contacto</a> </li>
                <li><a href="">compras</a> </li>
              </ul>
            </section>
          
            <section class="footer-redes">
              <div class="footer-redes-iconos">
                <ul>
                  <li> <i class="fab fa-facebook-f"></i></li>
                  <li><i class="fab fa-instagram"></i></li>
                  <li><i class="fab fa-twitter"></i></li>
                </ul>
              </div>
              <div class="footer-redes-email">dejanos tu e-mail <i class="far fa-envelope"></i>
              </div>
            </section>
          
            <section class="footer-location">
              <h4>ubicanos</h4>
              <div class="footer-location-mapa">
                <p>acá va un enlace con la ubicacion, con imagen</p>
              </div>
            </section>
            <div class="footer-fixed">
              <i class="fab fa-whatsapp"></i>
            </div>
    
      </footer>
    
    
</body>
</html>